# Import Libaries and fetch data

In [11]:
import pandas as pd
import numpy as np
path="Resources/US_Data.csv"
fields = ['FOD1P','SCHL','WAGP','AGEP','COW']
coarse_data=pd.read_csv(path, skipinitialspace=True, usecols=fields)
coarse_data['FOD1P'] = coarse_data['FOD1P'].astype(str)
coarse_data.head()

    FOD1P  SCHL      WAGP  AGEP  COW
0  6107.0  21.0   39000.0    63  3.0
1  3600.0  21.0   16000.0    22  2.0
2  6107.0  21.0  100000.0    52  1.0
3  3700.0  21.0   41000.0    65  1.0
4  2300.0  21.0   15000.0    33  1.0

In [12]:
coarse_data['FOD1P'].value_counts()

2300.0       143321
6107.0       142481
6201.0       132941
3600.0       115702
5506.0        82457
5501.0        72111
6206.0        71299
2102.0        64064
6207.0        62909
No_Degree     60000
5507.0        59514
2414.0        55551
3700.0        51447
5003.0        44418
2406.0        33553
2405.0        21123
6108.0        19156
6100.0        10497
1301.0        10415
5601.0         5956
3202.0         5266
3702.0         2809
Name: FOD1P, dtype: int64

In [13]:
education_attainment = [24.0,22.0,21.0]
refined_data = coarse_data.loc[coarse_data['SCHL'].isin(education_attainment)].copy()
refined_data['SCHL'].value_counts()

21.0    730828
22.0    311388
24.0     60873
Name: SCHL, dtype: int64

In [14]:
refined_data.head()

    FOD1P  SCHL      WAGP  AGEP  COW
0  6107.0  21.0   39000.0    63  3.0
1  3600.0  21.0   16000.0    22  2.0
2  6107.0  21.0  100000.0    52  1.0
3  3700.0  21.0   41000.0    65  1.0
4  2300.0  21.0   15000.0    33  1.0

# Replace code values with descriptive text

In [15]:
bachelors_tuition = 24116
masters_tuition = 35000
phd_tuition = 0
refined_data["tuition"] = np.where(refined_data.SCHL == 21.0, bachelors_tuition,
                                 np.where(refined_data.SCHL == 22.0, masters_tuition,
                                          np.where(refined_data.SCHL == 24.0, phd_tuition, "NA")))

refined_data["SCHL"] = np.where(refined_data.SCHL == 21.0, "Bachelors_Degree",
                                 np.where(refined_data.SCHL == 22.0, "Masters_Degree",
                                          np.where(refined_data.SCHL == 24.0, "PHD", "NA")))
refined_data.head()

    FOD1P              SCHL      WAGP  AGEP  COW tuition
0  6107.0  Bachelors_Degree   39000.0    63  3.0   24116
1  3600.0  Bachelors_Degree   16000.0    22  2.0   24116
2  6107.0  Bachelors_Degree  100000.0    52  1.0   24116
3  3700.0  Bachelors_Degree   41000.0    65  1.0   24116
4  2300.0  Bachelors_Degree   15000.0    33  1.0   24116

In [16]:
refined_data["SCHL"].value_counts()

Bachelors_Degree    730828
Masters_Degree      311388
PHD                  60873
Name: SCHL, dtype: int64

In [17]:
degree_dict={'2102.0':'Computer Science',
            '3700.0':'Mathematics' ,
            '3702.0':'Statistics and Decision Science', 
            '2405.0':'Chemical Engineering',
            '2406.0':'Civil Engineering',
            '2414.0':'Mechanical Engineering', 
            '3600.0':'Biology', 
            '1301.0':'Environmental', 
            '5003.0':'Chemistry', 
            '5501.0':'Economics', 
            '5506.0':'Political Science', 
            '5507.0':'Sociology', 
            '2300.0':'General Education', 
            '3202.0':'Law', 
            '5601.0':'Construction Services', 
            '6201.0':'Accounting', 
            '6207.0':'Finance', 
            '6206.0':'Marketing and Marketing Research', 
            '6108.0':'Pharmacy, Pharmaceutical Sciences and Administration',
            '6107.0':'Nursing', 
            '6100.0':'General Medical Health Services',
            'No_Degree':'No_Degree'}
refined_data['FOD1P'] = refined_data['FOD1P'].map(degree_dict)
refined_data.head()

               FOD1P              SCHL      WAGP  AGEP  COW tuition
0            Nursing  Bachelors_Degree   39000.0    63  3.0   24116
1            Biology  Bachelors_Degree   16000.0    22  2.0   24116
2            Nursing  Bachelors_Degree  100000.0    52  1.0   24116
3        Mathematics  Bachelors_Degree   41000.0    65  1.0   24116
4  General Education  Bachelors_Degree   15000.0    33  1.0   24116

In [18]:
refined_data['FOD1P'].value_counts()

General Education                                       137846
Nursing                                                 135644
Accounting                                              126376
Biology                                                  87238
Marketing and Marketing Research                         69893
Economics                                                64790
Political Science                                        63855
Computer Science                                         62839
Finance                                                  59981
Sociology                                                56049
Mechanical Engineering                                   53793
Mathematics                                              48459
Chemistry                                                36709
Civil Engineering                                        32400
Chemical Engineering                                     19852
Pharmacy, Pharmaceutical Sciences and Administration     14881
Environmental                                             9954
General Medical Health Services                           9654
Construction Services                                     5875
Law                                                       4289
Statistics and Decision Science                           2712
Name: FOD1P, dtype: int64

# Create DataFrames for plotting