In [5]:
import pandas as pd
import numpy as np
path="Resources/US_Data.csv"
fields = ['FOD1P','SCHL','WAGP','AGEP','COW']
coarse_data=pd.read_csv(path, skipinitialspace=True, usecols=fields)
coarse_data['FOD1P'] = coarse_data['FOD1P'].astype(str)
coarse_data.head()

    FOD1P  SCHL      WAGP  AGEP  COW
0  6107.0  21.0   39000.0    63  3.0
1  3600.0  21.0   16000.0    22  2.0
2  6107.0  21.0  100000.0    52  1.0
3  3700.0  21.0   41000.0    65  1.0
4  2300.0  21.0   15000.0    33  1.0

In [6]:
coarse_data['FOD1P'].value_counts()

2300.0       143321
6107.0       142481
6201.0       132941
3600.0       115702
5506.0        82457
5501.0        72111
6206.0        71299
2102.0        64064
6207.0        62909
No_Degree     60000
5507.0        59514
2414.0        55551
3700.0        51447
5003.0        44418
2406.0        33553
2405.0        21123
6108.0        19156
6100.0        10497
1301.0        10415
5601.0         5956
3202.0         5266
3702.0         2809
Name: FOD1P, dtype: int64

In [7]:
bachelors_tuition = 24116
masters_tuition = 35000
phd_tuition = 0
coarse_data["tuition"] = np.where(coarse_data.SCHL == 21.0, bachelors_tuition,
                                 np.where(coarse_data.SCHL == 22.0, masters_tuition,
                                          np.where(coarse_data.SCHL == 24.0, phd_tuition, "NA")))

print(type(coarse_data['FOD1P'][0]))
coarse_data.head()

<class 'str'>

    FOD1P  SCHL      WAGP  AGEP  COW tuition
0  6107.0  21.0   39000.0    63  3.0   24116
1  3600.0  21.0   16000.0    22  2.0   24116
2  6107.0  21.0  100000.0    52  1.0   24116
3  3700.0  21.0   41000.0    65  1.0   24116
4  2300.0  21.0   15000.0    33  1.0   24116

In [8]:
degree_dict={'2102.0':'Computer Science',
            '3700.0':'Mathematics' ,
            '3702.0':'Statistics and Decision Science', 
            '2405.0':'Chemical Engineering',
            '2406.0':'Civil Engineering',
            '2414.0':'Mechanical Engineering', 
            '3600.0':'Biology', 
            '1301.0':'Environmental', 
            '5003.0':'Chemistry', 
            '5501.0':'Economics', 
            '5506.0':'Political Science', 
            '5507.0':'Sociology', 
            '2300.0':'General Education', 
            '3202.0':'Law', 
            '5601.0':'Construction Services', 
            '6201.0':'Accounting', 
            '6207.0':'Finance', 
            '6206.0':'Marketing and Marketing Research', 
            '6108.0':'Pharmacy, Pharmaceutical Sciences and Administration',
            '6107.0':'Nursing', 
            '6100.0':'General Medical Health Services'}
coarse_data['FOD1P'] = coarse_data['FOD1P'].map(degree_dict)
coarse_data.head()

               FOD1P  SCHL      WAGP  AGEP  COW tuition
0            Nursing  21.0   39000.0    63  3.0   24116
1            Biology  21.0   16000.0    22  2.0   24116
2            Nursing  21.0  100000.0    52  1.0   24116
3        Mathematics  21.0   41000.0    65  1.0   24116
4  General Education  21.0   15000.0    33  1.0   24116

In [9]:
coarse_data['FOD1P'].value_counts()

General Education                                       143321
Nursing                                                 142481
Accounting                                              132941
Biology                                                 115702
Political Science                                        82457
Economics                                                72111
Marketing and Marketing Research                         71299
Computer Science                                         64064
Finance                                                  62909
Sociology                                                59514
Mechanical Engineering                                   55551
Mathematics                                              51447
Chemistry                                                44418
Civil Engineering                                        33553
Chemical Engineering                                     21123
Pharmacy, Pharmaceutical Sciences and Administration     19156
General Medical Health Services                          10497
Environmental                                            10415
Construction Services                                     5956
Law                                                       5266
Statistics and Decision Science                           2809
Name: FOD1P, dtype: int64