In [1]:
import pandas as pd
path="Resources/psam_p06.csv"
coarse_data=pd.read_csv(path)

In [10]:
coarse_data.head()

,RT,SERIALNO,DIVISION,SPORDER,PUMA,REGION,ST,ADJINC,PWGTP,AGEP,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
0,P,2017000000014,9,1,6703,4,6,1011189,59,45,...,64,63,55,17,100,65,62,68,17,101
1,P,2017000000014,9,2,6703,4,6,1011189,57,39,...,51,54,59,19,95,53,56,62,18,97
2,P,2017000000014,9,3,6703,4,6,1011189,54,15,...,50,62,52,14,99,53,60,60,16,90
3,P,2017000000017,9,1,110,4,6,1011189,75,34,...,140,73,127,67,21,73,27,117,65,113
4,P,2017000000017,9,2,110,4,6,1011189,71,33,...,116,75,127,73,19,79,25,110,72,123

In [3]:
coarse_data.shape

(377575, 286)

In [8]:
columns=coarse_data.columns.tolist()

In [9]:
print(columns)

['RT', 'SERIALNO', 'DIVISION', 'SPORDER', 'PUMA', 'REGION', 'ST', 'ADJINC', 'PWGTP', 'AGEP', 'CIT', 'CITWP', 'COW', 'DDRS', 'DEAR', 'DEYE', 'DOUT', 'DPHY', 'DRAT', 'DRATX', 'DREM', 'ENG', 'FER', 'GCL', 'GCM', 'GCR', 'HINS1', 'HINS2', 'HINS3', 'HINS4', 'HINS5', 'HINS6', 'HINS7', 'INTP', 'JWMNP', 'JWRIP', 'JWTR', 'LANX', 'MAR', 'MARHD', 'MARHM', 'MARHT', 'MARHW', 'MARHYP', 'MIG', 'MIL', 'MLPA', 'MLPB', 'MLPCD', 'MLPE', 'MLPFG', 'MLPH', 'MLPI', 'MLPJ', 'MLPK', 'NWAB', 'NWAV', 'NWLA', 'NWLK', 'NWRE', 'OIP', 'PAP', 'RELP', 'RETP', 'SCH', 'SCHG', 'SCHL', 'SEMP', 'SEX', 'SSIP', 'SSP', 'WAGP', 'WKHP', 'WKL', 'WKW', 'WRK', 'YOEP', 'ANC', 'ANC1P', 'ANC2P', 'DECADE', 'DIS', 'DRIVESP', 'ESP', 'ESR', 'FOD1P', 'FOD2P', 'HICOV', 'HISP', 'INDP', 'JWAP', 'JWDP', 'LANP', 'MIGPUMA', 'MIGSP', 'MSP', 'NAICSP', 'NATIVITY', 'NOP', 'OC', 'OCCP', 'PAOC', 'PERNP', 'PINCP', 'POBP', 'POVPIP', 'POWPUMA', 'POWSP', 'PRIVCOV', 'PUBCOV', 'QTRBIR', 'RAC1P', 'RAC2P', 'RAC3P', 'RACAIAN', 'RACASN', 'RACBLK', 'RACNH', 'RACNUM', 'RACPI', 'RACSOR', 'RACWHT', 'RC', 'SCIENGP', 'SCIENGRLP', 'SFN', 'SFR', 'SOCP', 'VPS', 'WAOB', 'FAGEP', 'FANCP', 'FCITP', 'FCITWP', 'FCOWP', 'FDDRSP', 'FDEARP', 'FDEYEP', 'FDISP', 'FDOUTP', 'FDPHYP', 'FDRATP', 'FDRATXP', 'FDREMP', 'FENGP', 'FESRP', 'FFERP', 'FFODP', 'FGCLP', 'FGCMP', 'FGCRP', 'FHICOVP', 'FHINS1P', 'FHINS2P', 'FHINS3C', 'FHINS3P', 'FHINS4C', 'FHINS4P', 'FHINS5C', 'FHINS5P', 'FHINS6P', 'FHINS7P', 'FHISP', 'FINDP', 'FINTP', 'FJWDP', 'FJWMNP', 'FJWRIP', 'FJWTRP', 'FLANP', 'FLANXP', 'FMARP', 'FMARHDP', 'FMARHMP', 'FMARHTP', 'FMARHWP', 'FMARHYP', 'FMIGP', 'FMIGSP', 'FMILPP', 'FMILSP', 'FOCCP', 'FOIP', 'FPAP', 'FPERNP', 'FPINCP', 'FPOBP', 'FPOWSP', 'FPRIVCOVP', 'FPUBCOVP', 'FRACP', 'FRELP', 'FRETP', 'FSCHGP', 'FSCHLP', 'FSCHP', 'FSEMP', 'FSEXP', 'FSSIP', 'FSSP', 'FWAGP', 'FWKHP', 'FWKLP', 'FWKWP', 'FWRKP', 'FYOEP', 'PWGTP1', 'PWGTP2', 'PWGTP3', 'PWGTP4', 'PWGTP5', 'PWGTP6', 'PWGTP7', 'PWGTP8', 'PWGTP9', 'PWGTP10', 'PWGTP11', 'PWGTP12', 'PWGTP13', 'PWGTP14', 'PWGTP15', 'PWGTP16', 'PWGTP17', 'PWGTP18', 'PWGTP19', 'PWGTP20', 'PWGTP21', 'PWGTP22', 'PWGTP23', 'PWGTP24', 'PWGTP25', 'PWGTP26', 'PWGTP27', 'PWGTP28', 'PWGTP29', 'PWGTP30', 'PWGTP31', 'PWGTP32', 'PWGTP33', 'PWGTP34', 'PWGTP35', 'PWGTP36', 'PWGTP37', 'PWGTP38', 'PWGTP39', 'PWGTP40', 'PWGTP41', 'PWGTP42', 'PWGTP43', 'PWGTP44', 'PWGTP45', 'PWGTP46', 'PWGTP47', 'PWGTP48', 'PWGTP49', 'PWGTP50', 'PWGTP51', 'PWGTP52', 'PWGTP53', 'PWGTP54', 'PWGTP55', 'PWGTP56', 'PWGTP57', 'PWGTP58', 'PWGTP59', 'PWGTP60', 'PWGTP61', 'PWGTP62', 'PWGTP63', 'PWGTP64', 'PWGTP65', 'PWGTP66', 'PWGTP67', 'PWGTP68', 'PWGTP69', 'PWGTP70', 'PWGTP71', 'PWGTP72', 'PWGTP73', 'PWGTP74', 'PWGTP75', 'PWGTP76', 'PWGTP77', 'PWGTP78', 'PWGTP79', 'PWGTP80']

In [20]:
df=coarse_data[['FOD1P','SCHL','WAGP','AGEP','COW']]

In [21]:
df

         FOD1P  SCHL      WAGP  AGEP  COW
0          NaN  16.0   40000.0    45  7.0
1          NaN  16.0    4000.0    39  5.0
2          NaN  11.0       0.0    15  NaN
3       2499.0  21.0  130000.0    34  1.0
4       1104.0  22.0       0.0    33  1.0
5          NaN   1.0       NaN     4  NaN
6          NaN   NaN       NaN     1  NaN
7          NaN  16.0       0.0    76  1.0
8       6212.0  21.0   58000.0    35  5.0
9          NaN  20.0   38000.0    31  1.0
10         NaN  16.0    8000.0    21  5.0
11      2408.0  22.0       0.0    66  1.0
12         NaN  16.0       0.0    86  NaN
13         NaN  18.0       0.0    47  6.0
14      6200.0  21.0   70000.0    41  1.0
15      6107.0  21.0   76000.0    31  3.0
16         NaN  19.0   81000.0    34  1.0
17         NaN   8.0       NaN    11  NaN
18         NaN   4.0       NaN     7  NaN
19      5301.0  22.0    3100.0    64  6.0
20      6107.0  21.0   13000.0    57  1.0
21         NaN  14.0    2500.0    17  1.0
22         NaN  19.0       0.0    70  6.0
23         NaN  16.0   20000.0    51  7.0
24         NaN  16.0   45000.0    31  1.0
25         NaN  16.0       0.0    94  NaN
26      6203.0  21.0       0.0    80  1.0
27         NaN  14.0       0.0    82  NaN
28      3700.0  21.0       0.0    76  NaN
29         NaN  18.0   67000.0    65  1.0
...        ...   ...       ...   ...  ...
377545     NaN  19.0    3400.0    20  1.0
377546     NaN  18.0    1700.0    19  1.0
377547  6203.0  21.0       0.0    27  1.0
377548  3600.0  22.0       0.0    61  NaN
377549     NaN   7.0   10000.0    51  1.0
377550     NaN  14.0  125000.0    59  2.0
377551     NaN  14.0       0.0    46  1.0
377552  4007.0  22.0       0.0    25  NaN
377553     NaN  19.0       0.0    50  1.0
377554     NaN  18.0       0.0    18  NaN
377555     NaN  13.0       0.0    73  NaN
377556     NaN   1.0       0.0    70  NaN
377557     NaN  16.0       0.0    34  1.0
377558  2306.0  21.0       0.0    88  NaN
377559     NaN  19.0       0.0    25  1.0
377560     NaN  18.0       0.0    48  NaN
377561     NaN  15.0       0.0    21  1.0
377562  1901.0  21.0       0.0    22  NaN
377563     NaN  16.0    7800.0    37  1.0
377564     NaN  20.0       0.0    58  1.0
377565     NaN  19.0     800.0    20  1.0
377566     NaN  19.0       0.0    39  NaN
377567     NaN  16.0       0.0    48  6.0
377568     NaN  19.0    3000.0    19  1.0
377569     NaN  11.0       0.0    28  1.0
377570     NaN  19.0       0.0    86  NaN
377571     NaN  19.0    3500.0    32  1.0
377572     NaN  12.0       0.0    56  NaN
377573     NaN  13.0       0.0    26  NaN
377574     NaN  14.0       0.0    41  NaN

[377575 rows x 5 columns]

In [1]:
df2=df.loc[df['FOD1P']=='NaN'].replace('NaN','Not_that_educated')

NameError: name 'df' is not defined

In [27]:
df2.shape

(377575,)

In [28]:
df2.head()

0       NaN
1       NaN
2       NaN
3    2499.0
4    1104.0
Name: FOD1P, dtype: float64

In [22]:
df.to_csv("test.csv")