In [3]:
madeupdata={'Accounting': [58513.32, 80956.36, 82731.09, 98381.62, 80158.99, 105062.91],
 'Biology': [38824.2, 53952.02, 56473.68, 69790.21, 97400.19, 110537.7],
 'Chemical Engineering': [69208.28,
  85138.84,
  88943.39,
  106401.08,
  98375.9,
  108109.52],
 'Chemistry': [41516.11, 62449.77, 57298.3, 78389.52, 88141.87, 105599.79],
 'Civil Engineering': [65334.55,
  75703.5,
  82412.33,
  92644.57,
  80231.42,
  89736.59],
 'Computer Science': [75923.86,
  74201.4,
  96926.06,
  88597.23,
  127073.19,
  117378.51]}

In [4]:
degree = []

listofsalaryrange = []
for x in madeupdata:
    degree.append(x)
    salaryrange=[]

    for i in range(len(madeupdata[x])):


            if (i)%2 == 0:
            # print(madeupdata[x][i])
                salaryrange.append(madeupdata[x][i]-madeupdata[x][i+1])
                salaryrange.append(madeupdata[x][i]+madeupdata[x][i+1])

    listofsalaryrange.append(salaryrange)

In [5]:
degree

['Accounting',
 'Biology',
 'Chemical Engineering',
 'Chemistry',
 'Civil Engineering',
 'Computer Science']

In [6]:
listofsalaryrange

[[-22443.04,
  139469.68,
  -15650.529999999999,
  181112.71,
  -24903.92,
  185221.90000000002],
 [-15127.82,
  92776.22,
  -13316.530000000006,
  126263.89000000001,
  -13137.509999999995,
  207937.89],
 [-15930.559999999998,
  154347.12,
  -17457.690000000002,
  195344.47,
  -9733.62000000001,
  206485.41999999998],
 [-20933.659999999996,
  103965.88,
  -21091.22,
  135687.82,
  -17457.92,
  193741.65999999997],
 [-10368.949999999997,
  141038.05,
  -10232.240000000005,
  175056.90000000002,
  -9505.169999999998,
  169968.01],
 [1722.4600000000064,
  150125.26,
  8328.830000000002,
  185523.28999999998,
  9694.680000000008,
  244451.7]]