In [1]:
import pandas as pd
# Store all relavent csv files in one array.
paths=["Resources/psam_pusa.csv","Resources/psam_pusb.csv","Resources/psam_pusc.csv","Resources/psam_pusd.csv"]

In [2]:
coarse=[]
dfs=[]
# Interate through the paths array and store a list of data frames, then pick out only the columns we need.
for i in range(len(paths)):
    coarse.append(pd.read_csv(paths[i]))
    dfs.append(coarse[i][['FOD1P','SCHL','WAGP']])

In [3]:
# Concatenate the data frames together since they are of the same structure with a loop through the list of data frames.
merged_df = pd.concat(dfs[i] for i in range(len(dfs)))

In [4]:
merged_df.shape

(15758937, 3)

In [5]:
merged_df.head()

   FOD1P  SCHL     WAGP
0    NaN  19.0      0.0
1    NaN  20.0  52000.0
2    NaN  16.0      0.0
3    NaN  19.0      0.0
4    NaN  19.0      0.0

In [6]:
merged_df.to_csv("US_Data.csv")