In [1]:
import pandas as pd
# Store all relavent csv files in one array.
paths=["Resources/psam_pusa.csv","Resources/psam_pusb.csv","Resources/psam_pusc.csv","Resources/psam_pusd.csv"]

In [2]:
coarse=[]
dfs=[]
# Interate through the paths array and store a list of data frames, then pick out only the columns we need.
for i in range(len(paths)):
    coarse.append(pd.read_csv(paths[i]))
    dfs.append(coarse[i][['FOD1P','SCHL','WAGP', 'AGEP', 'COW']])
print("done!")

done!

In [3]:
# Concatenate the data frames together since they are of the same structure with a loop through the list of data frames.
merged_df = pd.concat(dfs[i] for i in range(len(dfs)))
print("done211!")

done211!

In [4]:
merged_df.shape

(15758937, 5)

In [5]:
merged_df.head()

   FOD1P  SCHL     WAGP  AGEP  COW
0    NaN  19.0      0.0    19  NaN
1    NaN  20.0  52000.0    55  1.0
2    NaN  16.0      0.0    56  6.0
3    NaN  19.0      0.0    21  NaN
4    NaN  19.0      0.0    21  NaN

Get Degrees Needed

In [6]:
categories = ['2102', '3700', '3702', '2405',
              '2406', '2414', '3600', '1301',
              '5003', '5501', '5506', '5507',
              '2300', '3202', '5601', '6201',
              '6207', '6206', '6108', '6107',
              '6100']
degrees_df = merged_df[merged_df['FOD1P'].isin(categories) ]
print("doneee")
degrees_df.shape

doneee

(1206990, 5)

In [7]:
degrees_df['FOD1P'].value_counts()

2300.0    143321
6107.0    142481
6201.0    132941
3600.0    115702
5506.0     82457
5501.0     72111
6206.0     71299
2102.0     64064
6207.0     62909
5507.0     59514
2414.0     55551
3700.0     51447
5003.0     44418
2406.0     33553
2405.0     21123
6108.0     19156
6100.0     10497
1301.0     10415
5601.0      5956
3202.0      5266
3702.0      2809
Name: FOD1P, dtype: int64

Get No Degree Samples

In [8]:
sample_df = merged_df.sample(n=2000000)
sample_df.shape

(2000000, 5)

In [9]:
sample_df['FOD1P'].fillna("No_Degree", inplace = True)
print("done21!")
sample_df.head()

done21!

             FOD1P  SCHL     WAGP  AGEP  COW
2968546  No_Degree  18.0  23000.0    21  1.0
1994017  No_Degree  16.0  65000.0    29  1.0
3131252  No_Degree  16.0      0.0    30  NaN
2897000  No_Degree  13.0   3800.0    71  1.0
305559   No_Degree  19.0      0.0    78  NaN

In [11]:
sample_df['FOD1P'].value_counts().head(10)

No_Degree    1543033
6203.0         27874
5200.0         19776
2304.0         19274
6200.0         18833
2300.0         18297
6107.0         17856
6201.0         16880
3301.0         14865
3600.0         14573
Name: FOD1P, dtype: int64

In [14]:
no_degree_list = ['No_Degree']
no_degree_df = sample_df[sample_df['FOD1P'].isin(no_degree_list) ]
no_degree_df.head()

             FOD1P  SCHL     WAGP  AGEP  COW
2968546  No_Degree  18.0  23000.0    21  1.0
1994017  No_Degree  16.0  65000.0    29  1.0
3131252  No_Degree  16.0      0.0    30  NaN
2897000  No_Degree  13.0   3800.0    71  1.0
305559   No_Degree  19.0      0.0    78  NaN

In [16]:
no_degree_sample_df = no_degree_df.sample(n=60000)
no_degree_sample_df['FOD1P'].value_counts().head(10)

No_Degree    60000
Name: FOD1P, dtype: int64

In [17]:
us_data_df = pd.concat([degrees_df, no_degree_sample_df])
us_data_df['FOD1P'].value_counts()

2300.0       143321
6107.0       142481
6201.0       132941
3600.0       115702
5506.0        82457
5501.0        72111
6206.0        71299
2102.0        64064
6207.0        62909
No_Degree     60000
5507.0        59514
2414.0        55551
3700.0        51447
5003.0        44418
2406.0        33553
2405.0        21123
6108.0        19156
6100.0        10497
1301.0        10415
5601.0         5956
3202.0         5266
3702.0         2809
Name: FOD1P, dtype: int64

In [20]:
us_data_df.to_csv("US_Data.csv")
print('Done!')

Done!